<p id="notice"><%= notice %></p>

<p>
  <strong>Short:</strong>
  <a href="/<%= @link.short %>">http://alexc.link/<%= @link.short %></a>
</p>

<p>
  <strong>Full:</strong>
  <%= @link.full %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
